<div class="footer-wrap wrapper">
		<footer class="site-footer container" vocab="http://schema.org/" typeof="ProfessionalService">

			<div class="address">
				<span property="streetAddress">106 East Doty Street</span> &bull; Suite 310 &bull; <span property="addressLocality">Madison</span>, <span property="addressRegion">WI</span> <span property="postalCode">53703</span>
			</div> 
			<ul class="build-details cf"> 
				<li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Creative Commons">Copyright</a> &copy; 2014 <span property="name">Astuteo LLC</span></li> 
				<li>Engineered in <a href="http://validator.w3.org/check/referer" title="Validate HTML">HTML5</a> and <a href="http://lesscss.org/">LESS</a></li> 
				<li>Built with <a href="http://buildwithcraft.com" title="Content Management by Craft">Craft</a></li>
				<li>Hosted by <a href="http://clients.fused.com/aff.php?aff=409" title="Fused Web Hosting">Fused Network</a></li> 
			</ul>

		</footer>
	</div> <!-- end footer-wrap -->

	<script type="text/javascript" src="https://qe166.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=0ee22767aab5c0f31807abf4cb5b5687"></script>

	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'astuteo'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
		</script>		
	</body>
	
</html>