<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Web Design and Google Analytics - Madison, WI — Astuteo</title>
	<link rel="home" href="http://astuteo.com/" />
	<meta name="description" content="Expertise in Web Design, Google Analytics and Content Strategy that turns your digital marketing into a lead generation machine. "/>
	<meta name="robots" content="index,follow,archive"/>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/main.css">
	<link rel="icon" href="/images/interface/favicon.png?v060214e" />
	<link rel="apple-touch-icon" href="/images/interface/apple-touch-icon.png?v060314" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
	<script type="text/javascript" src="//use.typekit.net/syq7oys.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

